[class^="line-U1"] {
    background-color: #e3000f;
}

[class^="line-U2"] {
    background-color: #9f70ad;
}

[class^="line-U3"] {
    background-color: #ef825c;
}

[class^="line-U4"] {
    background-color: #88c25b;
}

[class^="line-U5"] {
    background-color: #4db2e5;
}

[class^="line-U6"] {
    background-color: #d95936;
}

[class^="line-1"],
[class^="line-62"] {
    background-color: #c4121a;
}

[class^="line-59A"],
[class^="line-4A"] {
    background-color: #032960;
}

[class^="line-N"] {
    background-color: #092940;
    color: #ffe400;
}

.line-WLB {
    background-color: #fff6d4;
    color: #257299;
}
